<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>
    <div class="barra-Lateral ">
        <div>
            <div class="nombre-pagina">
                <ion-icon id="Icono" name="aperture-outline"></ion-icon>
                <span>RFacial</span>
            </div>
            <button class="boton">
                <ion-icon name="add-circle-outline"></ion-icon>
                <span>Create New</span>
            </button>
        </div>
        <nav class="navegacion">
            <ul>
                <li>
                    <a href="#" id="inbox">
                        <ion-icon name="mail-unread-outline"></ion-icon>
                        <span>Email</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="mail-unread-outline"></ion-icon>
                        <span>Email</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="mail-unread-outline"></ion-icon>
                        <span>Email</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="mail-unread-outline"></ion-icon>
                        <span>Email</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="mail-unread-outline"></ion-icon>
                        <span>Email</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div>
            <div class="linea"></div>
            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>Dark Theme</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo ">
    
                        </div>
                    </div>
                </div>
            </div>
            <div class="usuario">
                <img src="5.png" alt="">
                <div class="info-usuario">
                    <div class="nombre-email">
                        <span class="nombre">qq</span>
                        <span class="email">qqqq</span>
                    </div>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>

    <main>
        <h1>Contenido</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate fuga laboriosam temporibus qui ex, accusantium tenetur vero quidem saepe mollitia perferendis numquam ipsa eos beatae nemo, architecto illo! A, et.</p>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="Index.js"></script>
</body>
</html>